@import '../../shared/scss/init';
@import '../../shared/scss/forms';
.search-form {
    margin-bottom: 1em;
    margin-top: 1em;
    .form-control {
        width: 49%;
        display: inline-block;
        &.genres select  {
            @extend .select-material;
        }
        &.year input {
            @extend .input-textfield;
        }
    }
}

.search-resume {
    .resume {
        display: block;
        margin-top: .3em;
        font-family: 'Roboto';
        font-size: 22px;
    }
}
