@import '../../shared/scss/init';

.form-input {
    width: 100%;
    font-size: $h4-font-size;
    background-color: white;
    border-width: 0px 0px 9px 0px;
    border-color: #f57132;
    font-weight: bold;
    font-family: Georgia, serif;
    /*background-color: #7db594;*/
}

.select-material {
    @extend .form-input;
    height: 3.4em;
    text-align-last: center;
    position: relative;
    -moz-text-align-last: center;
    top: 1px;
}

.input-textfield {
    @extend .form-input;
    height: 2.7em;
    font-size: $h4-font-size;
    text-align: center;
    &::-webkit-input-placeholder {
        color: black;
    }
}
