@import url('https://fonts.googleapis.com/css?family=Muli|Droid+Sans|Roboto|Lato|Lora|Merriweather|Montserrat|Open+Sans|Open+Sans+Condensed:300|Oswald|PT+Sans|Raleway|Roboto|Roboto+Condensed|Roboto+Slab|Slabo+27px|Source+Sans+Pro|Ubuntu');
$base-font-size:   16px; // The font size set on the root html element.
$base-font-size-2:   32px;
$base-line-height: 28px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 3     * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.25  * $base-font-size;
$h4-font-size: 1.06  * $base-font-size;
$h5-font-size: 1     * $base-font-size;
$h6-font-size: 0.87  * $base-font-size;

// Open sans
$text-xxxbig:  1.75 * $base-font-size; // 28
$text-xxbig: 1.5525 * $base-font-size; // 25
$text-xbig:     1.5 * $base-font-size; // 24
$text-big:    1.125 * $base-font-size; // 18

$text-normal:  $base-font-size; // 16

$text-small:    0.875  * $base-font-size; // 14
$text-xsmall:   0.8125 * $base-font-size; // 13
$text-xxsmall:  0.75   * $base-font-size; // 12
$text-xxxsmall: 0.6875 * $base-font-size; // 11

// PT Sans Narrow
$text-big-2:    1.5 * $base-font-size-2; // 48
$text-normal-2: $base-font-size-2; // 32
$text-small-2:    0.75  * $base-font-size-2; // 24
$text-xsmall-2:    0.62  * $base-font-size-2; // 20
