<div class="anime-animated-list">
<!--    <ol>
        <li>@TODO: BUGAZO: si te vas a otra pestaña y vuelves, se duplican las imagenes.</li>
        <li>@TODO: Maquetar año.</li>
        <li>@TODO: terminar listado de imagenes, guardarlas en local para evitar huecos.</li>
    </ol>-->
    <ng-container *ngFor="let anime of animeList">  
        <div class="anime-animated-image hide">
            <img class="img" src="{{anime.getCover('original')}}">
            <div class="year">
                <span class="number" *ngFor="let number of getYearNumbers(anime)">{{number}}</span>
            </div>
        </div>
    </ng-container>
<div>
