
$perspective: 1000px;
$degrees: 8deg;
$degree0: 0deg;
@-webkit-keyframes na-flipInX {
  from {
    -webkit-transform: perspective($perspective) rotate3d(1, 0, 0, $degrees);
    transform: perspective($perspective) rotate3d(1, 0, 0, $degrees);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective($perspective) rotate3d(1, 0, 0, $degrees);
    transform: perspective($perspective) rotate3d(1, 0, 0, $degrees);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

}

@keyframes na-flipInX {
  from {
    -webkit-transform: perspective($perspective) rotate3d(1, 0, 0, $degrees);
    transform: perspective($perspective) rotate3d(1, 0, 0, $degrees);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective($perspective) rotate3d(1, 0, 0, $degree0);
    transform: perspective($perspective) rotate3d(1, 0, 0, $degree0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

}

.na-flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: na-flipInX;
  animation-name: na-flipInX;
}

@-webkit-keyframes na-flipInY {
  from {
    -webkit-transform: perspective($perspective) rotate3d(0, 1, 0, $degrees);
    transform: perspective($perspective) rotate3d(0, 1, 0, $degrees);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective($perspective) rotate3d(0, 1, 0, $degree0);
    transform: perspective($perspective) rotate3d(0, 1, 0, $degree0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

}

@keyframes na-flipInY {
  from {
    -webkit-transform: perspective($perspective) rotate3d(0, 1, 0, $degrees);
    transform: perspective($perspective) rotate3d(0, 1, 0, $degrees);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective($perspective) rotate3d(0, 1, 0, $degree0);
    transform: perspective($perspective) rotate3d(0, 1, 0, $degree0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

}

.na-flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: na-flipInY;
  animation-name: na-flipInY;
}

$fade: 1%;
$fadeUp: $fade;
@-webkit-keyframes na-fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, $fadeUp, 0);
    transform: translate3d(0, $fadeUp, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes na-fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, $fadeUp, 0);
    transform: translate3d(0, $fadeUp, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.na-fadeInUp {
  -webkit-animation-name: na-fadeInUp;
  animation-name: na-fadeInUp;
}

$fadeDown: -$fade;
@-webkit-keyframes na-fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, $fadeDown, 0);
    transform: translate3d(0, $fadeDown, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes na-fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, $fadeDown, 0);
    transform: translate3d(0, $fadeDown, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.na-fadeInDown {
  -webkit-animation-name: na-fadeInDown;
  animation-name: na-fadeInDown;
}

$pulse: 1.01;
@-webkit-keyframes na-pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  80% {
    -webkit-transform: scale3d($pulse, $pulse, $pulse);
    transform: scale3d($pulse, $pulse, $pulse);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes na-pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d($pulse, $pulse, $pulse);
    transform: scale3d($pulse, $pulse, $pulse);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.na-pulse {
  -webkit-animation-name: na-pulse;
  animation-name: na-pulse;
}

$lightSpeedIn-percent: 3%;
$lightSpeedIn-degrees: -5deg;
@-webkit-keyframes na-lightSpeedIn {
  from {
    -webkit-transform: translate3d($lightSpeedIn-percent, 0, 0) skewX($lightSpeedIn-degrees);
    transform: translate3d($lightSpeedIn-percent, 0, 0) skewX($lightSpeedIn-degrees);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes na-lightSpeedIn {
  from {
    -webkit-transform: translate3d($lightSpeedIn-percent, 0, 0) skewX($lightSpeedIn-degrees);
    transform: translate3d($lightSpeedIn-percent, 0, 0) skewX($lightSpeedIn-degrees);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.na-lightSpeedIn {
  -webkit-animation-name: na-lightSpeedIn;
  animation-name: na-lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
