@import '../../shared/scss/init';
@import '../../shared/scss/components';

.hamburguer {
    display: none;
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 1000px) {
    .hamburguer {
        position: absolute;
        top: 0.5em;
        right: 0;
        margin-right: 1em;
        display: inherit; 
        font-size: 26px;
        z-index: 50;
    }
}
