
<div class="about">
    <h1>About</h1>
    <div class="about-description">
        <h2> What is this page about?</h2>
        <p>Would you like to search <strong>old animes</strong>? Do you like to <strong>find</strong> those anime <strong>relics lost in the past</strong>? Or maybe you love <strong>remember</strong> those <strong>animes that are staying alive through the time</strong> until nowadays?</p>

        <p>Then, Nostalgia anime is <strong>for you</strong>. Here you can navigate through the past to find <strong>animes of your preferences</strong>, traveling through the years. <strong>Those masterpieces from old times can be found here.</strong> </p>

        <p><strong>Enjoy</strong> and find the animes you like.</p>
    </div>
    <div class="resources">
        <h2>Where all this info comes from?</h2>
        <p>All the info is extracted from <a class="kitsu-link" href="https://kitsu.io" title="Kitsu" description="Kitsu">Kitsu</a> api</p>
    </div>
    <div class="contact">
        <h2>How can I contact with Nostalgia Anime creator?</h2>
        <ul class="contact-methods">
            <li>
                <strong>Gmail: </strong> <a href="mailto:nostalgianimeweb@gmail.com">nostalgianimeweb@gmail.com</a>
            </li>
            <li>
                <strong>Twitter: </strong> <a href="http://twitter.com/nostalgianimew">@nostalgianimew</a>
            </li>
        </ul>
    </div>
</div>
