@import '../../shared/scss/init';
@import '../../shared/scss/components';

.anime.anime--detail {
    
    ul {
        padding: 0;
    }

    .img.full {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 400px;
        position: relative;
        width: 100%;
        .overlay {
            position: absolute;
            bottom: 0;
            top: 0;
            width: 100%;
            background: black;
            opacity: 0.5;
        }
        .title {
            position: relative;
            color: white;
            top: 12.4em;
            right: -13.2em;
            font-size: $text-xxxbig;
            font-family: 'Open Sans', sans-serif;
            padding: 0.2em;
        }
    }

    & > * {
        display: inline-block;
        vertical-align: top
    }

    .move-up {
        position: relative;
        bottom: 106px;
        width: 24%;
    }

    .rating {
        background-color: rgb(228, 228, 228);
        font-family: Roboto, serif;
        border-radius: 2em;
        padding: .5em;
        font-weight: bold;
        font-size: 18px;
        border: .3em solid black;
        position: relative;
        left: 10.6em;
        bottom: 1.4em;
        &.nice {
            border-color: #4caf50;
        }
        &.notbad {
            border-color: #2793e6;
        }
        &.underrated {
            border-color: #ff9800;
        }
    }

    .caption {
        width: 80%;
        display: block;
        font-family: 'Open Sans';
        border-bottom: 1px solid black;
    }
    ul.info {
        padding: 0;
        & > li {
            width: 100%;
        }
        ul {
            margin-top: .5em;
            margin-bottom: .5em;
        }
    }

    $icons_size: 32px;
    .mappings {
        li {
            margin-top: 1em;
            margin-right: 1em;
            display: inline-block;
            width: $icons_size;
            height: $icons_size;
            .mapping-link {
                content: '@TODO';
                display: block;
                text-decoration: none;
                width: $icons_size;
                height: $icons_size;
                background-size: $icons_size;
                &.kitsu {
                    content: '';
                    background-image: url(../../../assets/icons/kitsu.png);
                }
                &.myanimelist {
                    background-image: url(../../../assets/icons/myanimelist.jpg)
                }
                &.thetvdb {
                    background-image: url(../../../assets/icons/thetvdb.jpg)
                }
                &.anidb {
                    background-image: url(../../../assets/icons/anidb.png)
                }
                &.hulu {
                    background-image: url(../../../assets/icons/hulu.png)
                }
                &.crunchyroll {
                    background-image: url(../../../assets/icons/crunchyroll.png)
                }
/*                width: 46%;
                display: block;
                text-align: center;
                font-weight: bold;
                background-color: white;
                padding: .5em;
                font-family: Verdana;
                text-decoration: none;
                color: black;
                border: 1px solid black;
                background-coor: 
                &.kitsu {
                    color: white;
                    background-color: #402f3f;
                }
                &.myanimelist {
                    color: white;
                    background-color: #2e51a2;
                }
                &.anidb {
                    background-color: #b1b3b5;
                }
                &.thetvdb {
                    background-color: #b6d415;
                }*/
            }
        }
    }

    ul.details {
        text-align: left;
        li {
            .title {
                font-weight: bold;
                font-family: 'Montserrat';
                display: inline-block;
                width: 30%;
            }
            a {
                text-decoration: none;
                color:black;
            }
            .text {
                padding-left: 1em;
                width: 70%;
                display: inline-block;
            }
        }
    }

    .info-left {
        @extend .move-up;
        margin-left: 1em;
        img.cover {
            width: 250px;
            height: 350px;
            padding:1em;
            background-color: black;
        }

    }

    ul.categories {
        margin-top: -0.2em;
/*        position: absolute;
        top: 347px;
        right: 0px;*/
        li {
            display: inline-block;
            a {
                margin-right: 1em;
                margin-bottom: .5em;
                display: block;
                position: relative;
                border-radius: .75em;
                font-size: 14px;
                padding: 0.5em;
                font-weight: bold;
                cursor: pointer;
                text-decoration: none;
                color: black;
                background-color: rgba(171, 164, 164, 0.25);
            }
        }
    }

    .info-center {
        width: 50%;
        margin-top: 1em;
        padding: 0em 1em 1em 1em;
        .wrapper {
            background-color: white;
            padding: 1em;
            border: .4em solid #aba4a4;
            border-radius: 1em;
        }
        .description {
            margin-top: -0.5em;
            font-family: Georgia, serif;
        }
    }

    .info-right {
        width: 23%;
    }
}


@media only screen and (max-width : 1024px) {

    .anime.anime--detail {

        .info-left {
            width: 22%;
            bottom: 0px;
            img.cover {
                display: none;
            }
        }

        youtube-player {
            display: none;
        }

    }
}


@media only screen and (max-width : 720px) {

    .anime.anime--detail {

    .rating {
        left: 13.6em !important;
    }
        ul {
            text-align: center !important;
        }
        .caption {
            width: 100%;
        }
        & > * {
            display: block;
        }

        .move-up {
            position: relative;
            bottom: -15px;
            width: 100%;
        }

        .img.full {
            .title {
                font-size: 24px;
                top: 15em;
                right: 0;
            }
        }

        .info-left {
            margin-left: 0;
            img.cover {
                display: none;
            }
        }

        youtube-player {
            display: none;
        }

        .info-center {
            width: 100% !important;
            position: relative;
            top: 7em;
        }

        .info-right {
            width: 100%;
            div.share-links {
                position: absolute;
                top: 28em;
            }
            .info {
                width: 100%;
                position: absolute;
                top: 43em;
            }
        }
    }
}
