@import '../../shared/scss/init';

form.search-by-year {
    & > * {
        display: inline-block;
    }
    .year {
        .c-btn {
            font-size: 17px;
            font-family: 'Roboto', sans-serif;
        }
        width: 100%;
    }
}