
h2 {
    font-family: 'Montserrat', sans-serif;
}

.main-content {
    text-align: center;
    color: white;
    position: absolute;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px solid gray;
    top: 8%;
    width: 60%;
    right: 20%;
    h1.page-title {
        display: inline;
        font-weight: bold;
        font-size: 40px;
        z-index: 2;
        font-family: Muli, sans-serif;
    }
    anime-teaser {
        width: 80%;
        width: 25% !important;
        color: black;
    }
}

@media only screen and (max-width : 480px) {
    .main-content {
        top: 13%;
        width: 94%;
        left: 2.5%;
        h1.page-title {
            font-size: 30px !important;
        }
        h2 {
            font-size: 20px !important;
        }
    }
}
