/* You can add global styles to this file, and also import other style files */
html, body {
	margin: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #ececec;;
    main {
        width: 80%;
        margin-left:10%;
    }
}

* {
    box-sizing: border-box;
}


.hide {
    display: none !important;
}

.na-animated {
  animation-duration: .4s;
}

.multiselect-dropdown li {
    width: 10em;
    display: inline-block;
    label::before {
        border: 2px solid black !important;
    }
}

/* Landscape */
@media only screen 
  and (max-width: 1000px) {
    body {
        main {
        }
    }
}

/* Landscape */
@media only screen 
  and (max-width: 768px) {
    body {
        main {
            width: 100%;
            margin: 0;
        }
    }

    .multiselect-dropdown.year li{
        width: inherit !important;
    }
}

a {
   color: #3d2d90 ;
}