<!-- @TODO: separate logic from component! -->


<ng-container *ngIf="animeInfo != null">
<!--    <div class="anime-info-image">
        <img src="{{animeInfo.getPicture()}}">
    </div>
    <div class="anime-info-details">
        <h3 class="title"> {{ animeInfo.getTitle() }}</h3>
        <p class="description"> {{animeInfo.getDescription()}}</p>
    </div>-->
<div class="anime-info-tooltip">
    <span class="highlight">Did you know?</span> <span class="description">{{animeInfo.getDescription()}}</span>
</div>
</ng-container>
