@import '../../shared/scss/init';
@import '../../shared/scss/components';

.main-menu {
    & > * {
        display: inline-block;
    }
    .brand {
        a {
            text-decoration: none;
            color: black;
        }
        img {
            position: relative;
            top: 7px;
        }
        .site-name {
            font-family: Montserrat;
            font-size: 22px;
        }
        .dropdown-menu {
            display: none;
        }
    }
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {
    .main-menu {
        padding-bottom: 1em;
        .brand {
            width: 100%;
            .dropdown-menu {
                display: inherit; 
                font-size: 24px;
                margin-left: 5em;
                z-index: 50;
            }
        }
        site-links {
            display: none;
        }
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .main-menu {
        .brand {
            margin-left: -10%;
        }
    }
}
